# Ignore docs files
_gh_pages
_site
_drafts
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
package*.json
vendor
.sass-cache
.jekyll-metadata
.jekyll-cache
*.gem
_zip
/stats.json
/dist
/build

/assets/js/*hydejack-*
/_sass/*/__*__/*

wrangler.toml
.bundle/config
assets/img/blog/9.1.0-1.png
assets/img/blog/9.1.0-2.png
assets/img/blog/9.1.0-3.png
assets/img/blog/blog-layout.jpg
assets/img/blog/caleb-george-old.jpg
assets/img/blog/caleb-george.jpg
assets/img/blog/COLOURlovers.com-Hydejack.png
assets/img/blog/cover-page.jpg
assets/img/blog/dark-mode-ii.jpg
assets/img/blog/dark-mode.jpg
assets/img/blog/example-content-ii.jpg
assets/img/blog/example-content-iii.jpg
assets/img/blog/example-content-iii@0,5x.jpg
assets/img/blog/example-content-iii@0,25x.jpg
assets/img/blog/grid.jpg
assets/img/blog/hydejack-8.jpg
assets/img/blog/hydejack-8.png
assets/img/blog/hydejack-8@0,5x.jpg
assets/img/blog/hydejack-8@0,5x.png
assets/img/blog/hydejack-8@0,25x.jpg
assets/img/blog/hydejack-8@0,25x.png
assets/img/blog/hydejack-9-dark.jpg
assets/img/blog/hydejack-9-dark@0,5x.jpg
assets/img/blog/hydejack-9-dark@0,25x.jpg
assets/img/blog/hydejack-9.jpg
assets/img/blog/hydejack-9@0,5x.jpg
assets/img/blog/hydejack-9@0,25x.jpg
assets/img/blog/jeremy-bishop.jpg
assets/img/blog/jeremy-bishop@0,5x.jpg
assets/img/blog/jj-ying.jpg
assets/img/blog/lazy-images.jpg
assets/img/blog/louis-hansel.jpg
assets/img/blog/louis-hansel@0,5x.jpg
assets/img/blog/louis-hansel@0,25x.jpg
assets/img/blog/resume.png
assets/img/blog/steve-harvey.jpg
assets/img/blog/steve-harvey@0,5x.jpg
assets/img/blog/steve-harvey@0,25x.jpg
assets/img/blog/steve-harvey@0,125x.jpg
assets/img/blog/w3m.png
assets/img/blog/wade-lambert.jpg
assets/img/docs/chrome-print.png
assets/img/docs/google-fonts.png
assets/img/Indexcapture/Index0.PNG
assets/img/Indexcapture/Index1.PNG
assets/img/Indexcapture/Index2.PNG
assets/img/Indexcapture/Index3.png
assets/img/Indexcapture/Index4.PNG
assets/img/Indexcapture/Index5.png
assets/img/Indexcapture/Index6.png
assets/img/Indexcapture/Index7.PNG
assets/img/Indexcapture/Index8.PNG
assets/img/Indexcapture/Index9.PNG
assets/img/Indexcapture/Index10.PNG
assets/img/Indexcapture/Index11.PNG
assets/img/Indexcapture/Index12.PNG
assets/img/Indexcapture/Index13.PNG
assets/img/Java/DAO_DTO_VO.png
assets/img/Java/HTTP_Method.png
assets/img/Java/MVC Processpng.png
assets/img/Java/ServletLifeCycle.png
assets/img/Java/WAS.png
assets/img/Java/java_pages/Control/control1.PNG
assets/img/Java/java_pages/Control/control2.PNG
assets/img/Java/java_pages/Control/control3.PNG
assets/img/Java/java_pages/Control/control4.PNG
assets/img/Java/java_pages/Control/control5.PNG
assets/img/Java/java_pages/Control/control6.PNG
assets/img/Java/java_pages/Control/control7.PNG
assets/img/Java/java_pages/Control/control8.PNG
assets/img/Java/java_pages/Control/control9.PNG
assets/img/Java/java_pages/Control/control10.PNG
assets/img/Java/java_pages/Control/control11.PNG
assets/img/Java/java_pages/Control/control12.PNG
assets/img/Java/java_pages/Control/while1.PNG
assets/img/Java/java_pages/Control/while2.PNG
assets/img/Java/java_pages/Control/while3.PNG
assets/img/Java/java_pages/Control/while4.PNG
assets/img/Java/java_pages/Control/while5.PNG
assets/img/Java/java_pages/Directive/color_jspf.PNG
assets/img/Java/java_pages/Directive/include_example.PNG
assets/img/Java/java_pages/Directive/include_jspf.PNG
assets/img/Java/java_pages/Directive/java_pages1.PNG
assets/img/Java/java_pages/Directive/java_pages2.PNG
assets/img/Java/java_pages/Directive/java_pages3.PNG
assets/img/Java/java_pages/Directive/java_pages4.PNG
assets/img/Java/java_pages/Directive/jsp_include.png
assets/img/Java/java_pages/Script/Script1.PNG
assets/img/Java/java_pages/Script/Script2.PNG
assets/img/Java/java_pages/Script/Script3.PNG
assets/img/Java/java_pages/Script/Script4.PNG
assets/img/Java/java_pages/Script/Script5.PNG
assets/img/Java/java_pages/Script/Script6.PNG
assets/img/Java/java_pages/Script/Script7.PNG
assets/img/Java/java_pages/Script/Script8.PNG
assets/img/Java/Servlet/Servlet.png
assets/img/Java/Servlet/Servlet1.png
assets/img/Java/Servlet/Servlet2.png
assets/img/Java/Servlet/Servlet3.png
assets/img/Java/Servlet/Servlet4.PNG
assets/img/Java/Servlet/Servlet5.PNG
assets/img/Java/Servlet/Servlet6.png
assets/img/Java/Servlet/Servlet7.PNG
assets/img/Java/Servlet/Servlet8.png
assets/img/Java/Servlet/Servlet9.png
assets/img/Java/Servlet/Servlet10.PNG
docs/advanced.md
docs/basics.md
docs/build.md
docs/config.md
docs/install.md
docs/migration.md
docs/README.md
docs/scripts.md
docs/upgrade.md
docs/writing.md
example/_posts/2012-02-07-example-content.md
example/_posts/2017-11-23-example-content-ii.md
example/_posts/2018-06-01-example-content-iii.md
example/_posts/2020-07-03-introducing-hydejack-9.md
licenses/Apache-2.0.md
licenses/GPL-3.0.md
licenses/MIT.md
licenses/PRO.md
licenses/README.md
licenses/W3C-20150513.md
workers-site/.cargo-ok
workers-site/.gitignore
workers-site/index.js
